.link {
    color: rgb(0, 0, 0);
    font-size: 14px;
    color: #678399;
    position: relative;
    opacity: 0.9;
    text-align: left;
  }
  
  .link:hover {
    opacity: 1;
    color: whitesmoke;
    padding-bottom:2px ;
    
  }
  
  .link::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 1px;
    width: 0;
    height: 2px;
    background-color: whitesmoke;
    transition: all 0.45s;
  }
  
  .link:hover::before {
    opacity: 1;
    width: 100%;
  }
  
 
  